

<div class="card login-card">
    <div class="card-header">
      Login
    </div>

    <div class="card-body px-4">
      <form>
        <div class="mb-3">
          <label class="form-label">Usename</label>
          <input type="email" [(ngModel)]="loginObj.username" name="username" class="form-control" placeholder="Enter email">
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" [(ngModel)]="loginObj.password" name="password" class="form-control" placeholder="Enter password">
        </div>

        <div class="d-flex justify-content-between mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember">
            <label class="form-check-label" for="remember">
              Remember me
            </label>
          </div>
          <a href="#" class="text-decoration-none">Forgot?</a>
        </div>

        <button type="submit" (click)="onLogin()" class="btn btn-primary w-100 btn-login">
          Login
        </button>
      </form>
    </div>

    <div class="card-footer login-footer bg-transparent border-0 pb-4">
      Don’t have an account? <a href="#" class="text-decoration-none">Sign up</a>
    </div>
  </div>